<div>
{{#each posts as |post|}}

<li>
{{> post-homepage post}}
</li>

{{else}}
<h4 class="display-flex justify-space-between align-center p-2">
    No blog posts available to be displayed.
</h4> 

{{/each}}
</div>
