<section class="single-post">

    {{> post-single post}}

    {{#if loggedIn}}
    <form class="comment-form">
        <div>
            <textarea id="comment-body" placeholder="Enter Comment"></textarea>
        </div>

        <div>
            <button class="comment-btn" type="submit">Post Comment</button>
        </div>
    </form>
    {{/if}}

    {{> comments post.comments}}

    </section>
    
     {{#if loggedIn}}
        <script src="/js/comment.js"></script>
     {{/if}}

