<section clas="login-signup-container">
<form class="login-form">
  <div class="form-group">
    <label for="email-login">Email:</label>
    <input class="form-input" type="text" id="email-login" />
  </div>
  <div class="form-group">
    <label for="password-login">Password:</label>
    <input class="form-input" type="password" id="password-login" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Login</button>
  </div>
</form>

<form class="signup-form">
  <div class="form-group">
    <label for="username-signup">Enter Username:</label>
    <input class="form-input" type="text" id="username-signup" />
  </div>
    <div class="form-group">
    <label for="email-signup">Enter Email:</label>
    <input class="form-input" type="text" id="email-signup" />
  </div>
    <div class="form-group">
    <label for="email-signup">Enter Password:</label>
    <input class="form-input" type="text" id="password-signup" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Sign Up</button>
  </div>
</form>
</section>
<script src="../public/js/login.js"></script>